__debug_bin*

.DS_Store
private
tmp
output
priv

terraform/.terraform
terraform/kubeconfig.yaml
terraform.tfstate
terraform.tfstate.backup

coverage.out

/dist
/build
/VERSION
/bin

*.code-workspace
*service-account.json
/*.env
.vscode

/dev*.sh

.goreleaser.dev.yml
